body {
    width: 90%;
    margin: auto;
}

.box {
    display: flex;
    justify-content: space-around;
}

.box-1, .box-2, .box-3 {

    text-align: center;
    width: 500px;
    height: 353px;
    background-color:#212B2A;
    margin-top: 50px;
    color: #F5F7F6CC;
    padding: 30px;
    box-sizing: border-box;
}
#quem-somos {
    background-color: #212B2A;
}


.box-3{
    margin: 50px auto;
}

.btn-with{
    color: white !important;
}

.btn-login {
    background-color: #F34213 !important;
}
.higher {
    text-transform: uppercase;
    margin-top: 10px;
}

.partners{
    display: flex;
    justify-content: space-around;
    
}


h1 {
    text-transform: uppercase;
    color: #F34213;
    padding-top: 100px;
    
}

.banner-finish {
    background-image: url("./assets/banner final.svg");
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 600px;
    margin: 40px auto;
}

.banner-finish p {
    color: white;
    margin-top: 30px;
    font-size: 30px;
}

.banner-finish button {
    position: relative;
    margin-top: 210px;
    background: #F34213;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(10, 11, 11, 0.25);
    border-radius: 16px;
    padding: 20px;
    border: none;
    width: 300px;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #F5F7F6;
    line-height: 10px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
   
    main {
    width: 95%;
    margin: auto;
   
      display: flex;
      flex-direction: column !important;
      
    }
    .box {
        display: flex;
        flex-direction: column !important;
        gap: 10px;
        
        
    }
    .box-1, .box-2, .box-3 {
        width: 99%;
        height: 100%;
        margin: auto;
    }
    .box-3 {
        margin: 10px auto 30px auto;
    }

    .ajuste {
        display: flex;
        flex-direction: column !important;
    }
    .ajuste img {
    width: 100% !important;
    }

    .partners {

        flex-direction: column !important;
    }
    .banner-finish button {
        margin-top: 150px;
        width: 90%;
    }

    footer {
        flex-direction: column ;
        gap: 50px;
        line-height: 20px;
    }
  }